* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
}

nav .mainMenu li a:hover {
    background:#1B98E0;
    opacity: 0.8;
    transition: all ease-in-out 0.5s;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu, .icons i {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.fa-facebook:hover { color: rgb(0, 110, 255)}
.fa-twitter:hover { color: rgb(86, 154, 243)}
.fa-instagram:hover { color: rgb(255, 0, 199)}
.fa-github:hover { color: rgb(255, 123, 0)}

nav .logo {
    margin: 6px;
    font-size: 23px;
    cursor: pointer;
    color: #1B98E0;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    letter-spacing: 0.1em;
}

@media(max-width: 768px) {
    nav {
        padding: 0.1em;
        margin: 0;
    }
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        display: none;
        transition: top 1s ease;
        background-color: #000;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: #1B98E0;
        font-size: 1.6rem;
        transition: all ease-in-out 250ms;
    }
    .icons i {
        display: inline-block;
        padding: 12px; 
    }
    nav .logo {
        margin-top: 20px;
        padding: 0;  
    }
}

/*CSS login*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}

.box {
    position: fixed;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #1B98E0, #1B98E0);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #1B98E0, #1B98E0);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.form h2 {
    color: #1B98E0;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: #1B98E0;
    transform:  translateX(0px) translateY(-34px);
    font-size: 0.75em;
}

.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #1B98E0;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
    height: 44px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.links a:hover {
    color:#1B98E0;
}

.links a:nth-child(2) {
    color: #1B98E0;
}

input[type="submit"] {
    border: none;
    outline: none;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    background: #1B98E0;
}
